// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-tab-bar-background: #8B5E3C; /* Color de fondo de la barra de pestañas */
    --ion-tab-bar-color:  rgba(255, 255, 255, 0.603); /* Color de los íconos y texto cuando están inactivos */
    --ion-tab-bar-color-selected: rgb(106, 193, 233); /* Color de los íconos y texto cuando están activos */
  }