.company-content{
    display: flex; 
    align-items: center;
    margin-top: 30px;
}

.company-content  img {
    width: 15%;
    position: absolute;
  }
.company-icon{
    margin-right: 8px;
} 

.user-avatar {
    animation: fadeInSlide 1s ease-in-out;
    transition: transform 0.2s ease-in-out; /* transición suave para el efecto de hover */
  }
  
  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateY(-20px); /* comienza ligeramente desplazado hacia arriba */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* termina en su posición original */
    }
  }
  
  .user-avatar:hover {
    transform: scale(1.05); /* aumenta un poco de tamaño al pasar el cursor */
  }
  