ion-card {
    background: rgba(252, 244, 211, 0.1); /* Fondo semitransparente para la tarjeta */
    border-radius: 12px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
  
    ion-card-content {
      background: transparent; 
  
      ion-item {
        --background: transparent; 
        

        ion-thumbnail {
          background: transparent;
        }
  
        ion-label {
          color: #8B5E3C; /* Color de texto */
        }
      }
    }
  }
  
  ion-card-title,
  ion-card-subtitle {
    color: #8B5E3C; /* Color de texto */
  }
  


   
  