<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-name [companyName]="'BookURSelf'"></app-company-name>

    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


  
  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title>Trending Books</ion-card-title>
        <ion-card-subtitle>Libros tendencia de las últimas 24 horas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item 
          class="custom-item" 
          (click)="openUrl('https://www.google.com/search?q=the+housemaid+freida+mcfadden')">
            <ion-thumbnail slot="start">
              <img alt="lib1" src="../../assets/imgns/lib1.png" />
            </ion-thumbnail>
            <ion-label>The Housemaid, por Freida McFadden</ion-label>
          </ion-item>
    
          <ion-item class="custom-item" 
          (click)="openUrl('https://www.google.com/search?q=it+ends+with+us+colleen+hoover')">
            <ion-thumbnail slot="start">
              <img alt="lib2" src="../../assets/imgns/lib2.png" />
            </ion-thumbnail>
            <ion-label>It Ends with Us, por Colleen Hoover</ion-label>
          </ion-item>
    
          <ion-item class="custom-item" 
          (click)="openUrl('https://www.google.com/search?q=the+anxious+generation+jonathan+haidt')">
            <ion-thumbnail slot="start">
              <img alt="lib3" src="../../assets/imgns/lib3.png" />
            </ion-thumbnail>
            <ion-label>The Anxious Generation, por Jonathan Haidt
            </ion-label>
          </ion-item>
    
          <ion-item class="custom-item" 
          (click)="openUrl('https://www.google.com/search?q=fourth+wing+rebecca+yarros')">
            <ion-thumbnail slot="start">
              <img alt="lib4" src="../../assets/imgns/lib4.png" />
            </ion-thumbnail>
            <ion-label>Fourth Wing, por Rebecca Yarros</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


    <h1>El yo ulterior tras la máscara de lo normal: The Handmaiden, de Freida McFadden</h1>

    <p>
      La empleada de Freida McFadden es un thriller psicológico que narra la historia de una 
      mujer en busca de una nueva vida tras una serie de eventos traumáticos que la han dejado 
      sin hogar y en una situación vulnerable. Al aceptar un trabajo como empleada doméstica en
      la opulenta casa de una familia adinerada, espera encontrar estabilidad y un nuevo comienzo. 
      Sin embargo, a medida que se instala en su nuevo entorno, comienza a descubrir secretos oscuros 
      que la familia oculta bajo una fachada de perfección. La protagonista, cuyo nombre se va revelando 
      lentamente, se enfrenta a la manipulación y el abuso de poder por parte de sus empleadores, lo que 
      la obliga a cuestionar su propia moralidad y seguridad.

      La tensión aumenta cuando se da cuenta de que la vida que anhela podría estar al alcance de la mano, 
      pero a un precio aterrador. Con cada revelación, se ve arrastrada a una red de mentiras y engaños 
      que amenazan su vida y la de quienes la rodean. La narrativa de McFadden, rica en giros inesperados, 
      mantiene al lector en vilo hasta el final, mientras explora temas de supervivencia, lealtad y el deseo 
      de redención. Con un desenlace impactante, La empleada desafía la percepción de la verdad y muestra 
      cómo las decisiones de una persona pueden tener consecuencias devastadoras.
    </p>

    <h1>El ciclo de abuso en el amor: Un vistazo a It Ends With Us de Colleen Hoover</h1>
    <p>
      It Ends With Us, de Colleen Hoover, es una novela conmovedora que sigue la vida de Lily Bloom, 
      una joven que se muda a Boston para comenzar de nuevo tras la muerte de su padre. A lo largo de 
      su viaje, Lily se encuentra con Ryle Kincaid, un neurocirujano carismático, y aunque al principio
       su relación parece perfecta, pronto se revelan los oscuros secretos de Ryle y su tendencia a la 
       violencia. Mientras Lily lucha con su amor por Ryle, también recuerda su relación con su madre 
       y el abuso que sufrió en su infancia. Esta dualidad la lleva a cuestionar lo que realmente significa
        amar a alguien y lo que está dispuesta a tolerar en una relación. A medida que la historia avanza, 
        Lily se enfrenta a decisiones difíciles que la obligan a romper el ciclo de abuso y a priorizar su 
        propia salud emocional y bienestar. La novela aborda temas de amor, dolor y empoderamiento, 
        destacando la importancia de romper el silencio sobre la violencia doméstica.
    </p>

    <h1>Crisis de ansiedad en la juventud: Un análisis de The Anxious Generation de Jonathan Haidt</h1>
    <p>
      The Anxious Generation, de Jonathan Haidt, explora el aumento de la ansiedad y los problemas de salud
       mental entre los jóvenes, especialmente desde la llegada de las redes sociales y la cultura digital. 
       Haidt argumenta que la generación actual de adolescentes y adultos jóvenes enfrenta niveles de ansiedad
        sin precedentes, y examina las causas subyacentes, como la sobreexposición a las redes sociales, 
        la falta de conexión cara a cara y el aumento de la polarización cultural.

      El autor también aborda cómo estos factores han contribuido a un entorno en el que los jóvenes se sienten 
      cada vez más inseguros, tanto en sus relaciones interpersonales como en su identidad. A través de 
      investigaciones y testimonios, Haidt ofrece una perspectiva crítica sobre cómo la crianza, la educación 
      y la tecnología han moldeado la experiencia de la juventud contemporánea. A medida que profundiza en estas 
      cuestiones, propone estrategias para mitigar la ansiedad y fomentar un sentido de comunidad y resiliencia 
      entre las generaciones más jóvenes.
    </p>

    <h1>Luchas y lealtades en un mundo de magia: Un vistazo a Fourth Wing de Rebecca Yarros</h1>
    <p>
      Fourth Wing, de Rebecca Yarros, es una emocionante novela de fantasía que se desarrolla en un mundo donde 
      la magia y el combate son parte integral de la vida. La historia sigue a Violet Sorrengail, una joven que 
      se enfrenta a la dura realidad de ser la hija de una familia poderosa en un entorno donde las habilidades 
      de combate y la destreza mágica son esenciales para sobrevivir. Violet es forzada a asistir a la academia 
      militar de Basgiath, un lugar conocido por su exigente entrenamiento y sus peligros mortales. A medida que
       lucha por adaptarse a su nuevo entorno, Violet se ve atrapada en una intensa rivalidad con otros cadetes,
        incluidos algunos que provienen de familias de élite. A lo largo de la trama, se enfrenta no solo a los 
        retos físicos del entrenamiento, sino también a los conflictos emocionales que surgen de su deseo de ser
         vista como más que una simple heredera. Con un enfoque en la amistad, la lealtad y el sacrificio, la novela
          también explora el romance complicado entre Violet y un misterioso compañero cadete, mientras el peligro 
          acecha en cada esquina. Con giros inesperados y un desarrollo de personajes profundo, Fourth Wing ofrece 
          una narrativa cautivadora sobre la lucha por la identidad y el poder en un mundo implacable.
    </p>

  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title> Libros Trending </ion-title>
    </ion-toolbar>
  </ion-footer>


  