<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header>
      <ion-title>Ya Leídos</ion-title>
    </ion-header>
    <ion-item *ngFor="let book of readBooks">
      <ion-label>{{ book.title }} - {{ book.author }}</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterBooks()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let book of filteredBooks" (click)="addBook(book)">
      <ion-label>{{ book.title }} - {{ book.author }}</ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>



